/* Ensure the body takes up the full height of the viewport */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 36px;
}

/* Header styling */
.header {
    background-color: #007bff; /* Blue background */
    color: white;              /* White text color */
    padding: 20px;             /* Padding inside the header */
    text-align: left;        /* Centered text */
    font-size: 24px;           /* Font size for the header title */
    width: 100%;               /* Full width header */
}
#header-text {
    padding: 20px;
}

#questionNum {
    padding: 20px;
}
/* Make the form container fill the entire available space */
#content-div {
    display: flex;
    flex-direction: column;
    flex: 1; /* Make form-div take up the remaining space above the button container */
    padding: 20px; /* Padding inside the form container */
    margin: 20px; /* Optional: margin around the form container */
}

/* Style the question */
#questionDiv {
    width: 100%;
    margin: 5px;
    margin-bottom: 50px;
    text-align: center;
    flex: 0; /* Keep the question's padding, but don't allow it to grow */
}
/* Style the question */
#question {
    padding: 20px;
    text-align: center;
    flex: 0; /* Keep the question's padding, but don't allow it to grow */
}
/* Form group: label and input on the same line */

.responseContainer {
    width: 100%; 
    display: flex;
    flex: 2;
    flex-direction: row;
}
/* Styling the answer buttons */
.optionButtons {
    width: 100%; 
    margin: 5px 5px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    font-size: 36px;
}
/* Button selection style */
.optionButtons.selected {
    background-color: #007bff;
    color: white;

}
.optionButtons.unselected {
    background-color: #f2f2f2;
    color: black;
}
/* Button hover effect */
/* .optionButtons:hover {
    background-color: darkgrey;
} */

/* Style error message if trying to submit with no answer */
#noResponseError {
    color: red;
    text-align: center;
    margin-top: 20px;
    flex:0
}

/* The button container is fixed at the bottom */
#button-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
/* Styling the navigation buttons (back, answer, skip) */
.navigationButtons {
    flex: 1;
    margin: 0 5px;
    padding: 60px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 36px;
}

/* Button hover effect */
.navigationButtons:hover {
    background-color: #0056b3;
}

/* Responsive: Ensure buttons remain side by side on small screens */
@media (max-width: 600px) {
    .navigationButtons {
        font-size: 24px;
        padding: 15px;
    }
}